/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #455bad;
}
.navbar-item {
    position: relative;
    float:left;
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: 400;
}
ul {
    list-style: none;
}  

a {
    text-decoration: none;
}
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url("../images/BrownieBohero.png");
  background-size: cover;  
}
/* Larger than mobile */
@media (min-width: 400px) {
  .hero: url("images/BrownieBohero.png")
}

/* about
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about { 
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.abouttext {
    padding-top: 15rem;
    padding-right: 13rem;
    padding-left: 13rem;
}

.fishbookabout {
    padding: 0;
}

/* Divider1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.divider1 {
    background-image: url("../images/background.png");
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}
/* fisherman
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fisherman { 
    text-align: center;
    padding: 50px;
}
.fishermanpic {
    position: relative;
}
.fishandfly {
   padding-left:7rem;
   margin-bottom: 5rem;
}

/* Divider2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.divider2 {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #ffffff;
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-align: center;
}

/* Buy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.buy {
  padding: 15rem;
  text-align: center;
}
.purchase {
  align-content: center;
  padding-top: 7rem;
  line-height: 2rem;
}
.cover {
  position: relative;
  padding: 0;
  align-content: center;
  border: 60px solid #455bad;
}


/* AboutAI
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aboutai {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 5rem 5rem 0 5rem;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    font-size: .5rem;
    font-weight: 200;
    margin-top: 5em;
}

.sun {
    float: left;
}

.text {
font-family: 'Dancing Script', cursive;
font-family: 'Ledger', serif;
}

/* CCForm
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ccform {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #455bad;
  text-align: center;
  padding: 10rem 10rem 10rem 10rem;
}
.paycard {
    margin: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    padding: 5rem;
    box-shadow: 2rem;
}
.payherocontainer {
    margin-bottom: 4rem;
}
.paycover {
  align-content: center;
  border: 20px solid #455bad;
}

.label {
    color: #ffffff;
} 
.securitycodeInput {
    font-size: 30%;
}
/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  background-image: url("../images/authorbkgrnd.png");
  background-size: cover;
  color: #455bad;
  text-align: center;
  padding: 10rem 10rem 10rem 10rem;
}